/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* Asterisk wildcard selector to override default styles addes by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #1C2833;
    font-family: 'Roboto Mono', sans-serif;
}

h1, h2, h3 {
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* Header */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 3px #1C2833;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

/* Navigation bar */
 #menu {
    font-size: 110%;
    letter-spacing: 3px;
    list-style-type: none;
 }

 #menu > li {
    margin-bottom: 0.5em;
 }

 .active {
    text-decoration: underline;
 }

 /* Navbar dropdown toggle */
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 3px #1C2833;
    display: none;
    top: 100%;
    letter-spacing: 1px;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}
 
#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main content */
main {
    flex: 1 0 auto;
    margin-top: 42px;
}

/* Lanscape section */
#landscape {
    height: 85vh;
    width: 100%;
    background: url(../images/pexels-gaurav-singh-18776804.jpg) no-repeat 65% 45%/cover;
    position: relative;
}

#cover-text {
    background-color: rgba(149, 165, 166, 0.6);
    position: absolute;
    color: #ffffff;
    width: 80%;
    bottom: 30px;
    padding: 10px 20px;
}

#content {
    background-color: rgba(253, 254, 254, 0.4);
    position: absolute;
    width: 100%;
}

/* Gallery page*/
#photos img {
    width: 100%;
}

/* Footer */
#social-networks {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 0.5rem;
    position: fix;
}

#social-networks a {
    color: inherit;
    font-size: 2rem;
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
    }
    #menu {
        display: flex;
    }
    #menu > li {
        padding-left: 1rem;
    }
    .nav-toggle-label {
        display: none;
    }
    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /* Main content */
    main {
        margin-top: 75px;
    }
    /* Lanscape section */
    #cover-text {
        left: 50px;
        width: 350px;
        
    }
}

/* Media query: laptop and larger (992px and up) */
@media screen and (min-width: 992px) {
    
    /* Header */
    #menu a:hover {
        text-decoration: underline;
    }
}
    