/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* Asterisk wildcard selector to override default styles addes by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #1C2833;
    font-family: 'Roboto Mono', sans-serif;
}
/* Header */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 3px #1C2833;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* Logo and navigation bar */
 #menu {
    font-size: 110%;
    letter-spacing: 3px;
    list-style-type: none;
 }

 #menu > li {
    margin-bottom: 0.5em;
 }

 .active {
    text-decoration: underline;
 }

/* Main content */
main {
    background-color: #F5B7B1;
    flex: 1 0 auto;
}
/* Footer */
footer {
    background-color: #D5D8DC;
}